
.goose {
  width: 50px;
  height: 80px;
  background-image: url(goose.svg);
  background-repeat: no-repeat;
  background-size: 615px;
  animation: goose 1s steps(12) infinite;
  z-index: 99;
  position: fixed;
  bottom: 5%;
}

@keyframes goose {
  from{
    background-position: 0;
  }to{
    background-position: -615px;
  }
}
.goose:hover{
  background-image: url(gooseHover.svg);
  animation-play-state: paused;
}

.path {
  bottom: 15%;
  position: absolute;
  animation: path 35s steps(280) infinite;
}

.path:hover {
  animation-play-state: paused;
}


@keyframes path {
  0% {
    left: 100%;
  }
  100% {
    left: -35px;    
  }
}
