.footer {
  bottom: 0;
  border-top: 2px solid #252525;
}

.iconOuter {
  padding: 8px;
  border-radius: 50%;
  background: #DA935F;
  will-change: transform;
  transition: transform 450ms;
  margin: 4px;
}
.iconOuter:hover {
  animation: gelatine 1s infinite ;
}

.bounce {
  animation: bounce 1s ease ;
}

.image {
  width: 24px;
}

@keyframes gelatine {
  from, to { transform: scale(1, 1); }
  25% { transform: scale(0.9, 1.1); }
  50% { transform: scale(1.1, 0.9); }
  75% { transform: scale(0.95, 1.05); }
}